<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_creditmemo_save_after">
		<observer instance="Neon\Rms\Observer\Backend\Sales\OrderCreditmemoSaveBefore" name="neon_rms_observer_backend_sales_ordercreditmemosavebefore_sales_order_creditmemo_safe_after"/>
	</event>
</config>
<!-- sales_order_creditmemo_save_before -->
<!-- sales_order_creditmemo_safe_after -->