<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>

		
    <add action="neon_rms/rmssend/index" id="Neon_Rms::neon_rms_rmssend" module="Neon_Rms" parent="Neon_Backend::Backend" resource="Neon_Rms::RmsSend" sortOrder="9999" title="RmsSend"/>
		
    <add action="neon_rms/rmsdownload/index" id="Neon_Rms::neon_rms_rmsdownload" module="Neon_Rms" parent="Neon_Backend::Backend" resource="Neon_Rms::RmsDownload" sortOrder="9999" title="RmsDownload"/>
	
  
  </menu>
</config>
